/* Write your CSS code here. */

.container {
  background-image: linear-gradient(#ffeeee, #ffc0bb);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.emoji-card {
  background-color: #ffeeee;
  margin: 50px;
  border-radius: 12px;
  width: 60vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.card-ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.emoji-image {
  height: 50px;
  width: 50px;
}

li {
  list-style: none;
  margin: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.emoji-para {
  text-align: center;
  flex-wrap: wrap;
}

.thank-card {
  background-color: #ffeeee;
  margin: 50px;
  border-radius: 12px;
  width: 60vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
}
.love-symbol {
  height: 50px;
  width: 50px;
}
h1 {
  color: #0f172a;
  text-align: center;
}
p {
  color: #1e293b;
  text-align: center;
}
